@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
nav{
    padding: 0;
    margin: 0;
}
.jumbotron-header {
    background-color:  #1a1a1a;
    padding: 6px 0px;
}
.navLink{
   font-family: 'Lora', serif;
   color: #ffffff;
   font-size: 14px;
   text-decoration: none;
   text-transform: uppercase;
}
.navLink:hover{
   text-decoration: none; 
   color:  #897a9f;
}
.active1{
   color: #897a9f;  
}
.navLink1{
   color: #000000 !important;
   font-family: 'Lora', serif;
    padding: 12px 10px;
    font-size: 12px;
    text-transform: capitalize;
    margin: 6px 0px;
}
.navLink1:hover{
    color: 
}
.logo{
     color: #897a9f !important;
     font-weight: bold;
     font-family: 'Lora', serif;
     font-size: 26px;
     letter-spacing: 2px;
    font-family: 'Lora', serif;
}
.jumbotron-footer{
   background: #060506 !important;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	text-align:left;
	padding: 100px 0px 40px 0px !important;
    margin: 0px;
}
.footer-heading{
	color: #fff;
	font-size:16px;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Lora', serif;
 
}
.footer-links{
	color: #eee;
	font-size:14px;
	text-decoration: none;
    font-family: 'Lora', serif;
    padding: 8px 0px 8px 0px;
    line-height: 32px !important;
}
.footer-links:hover{
	color: #fff !important;
    text-decoration: none;
}
.footer-social-icon{
    color: #fff;
    font-size: 15px;
}

 /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 580px;
  }

.carousel-indicators li{
   width: 11px;
   height: 11px;
   border-radius: 50%;
}
.carousel-caption{
    bottom: 100px;
    left: 49%;
    text-align: left;
    border-left: 2px solid  #897a9f;
}
.bigHeading{
    font-family: 'Lora', serif;
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1px;  
    text-transform: uppercase;
    letter-spacing: 1px;
}
.smallHeading{
    font-family: 'Lora', serif;
    color: #f2f2f2;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: left;
}
.appButton{
     font-family: 'Lora', serif;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     padding: 13px 14px;
     border: 2px solid  #897a9f;
     margin-top: 30px;
     border-radius: 30px;
    letter-spacing: 1px;
    font-size: 16px;
}
.appButton:hover{
   text-decoration: none;
   color: #000000;
    background-color:  #897a9f;
    border: none;
    font-weight: bold;
}
.marginLeft{
    margin-left: 30px;
}
.blackBox{
    padding: 40px 20px 30px 20px;
     text-align: center;
    background-color: #1a1a1a;
    cursor: pointer;
}
.blackBox:hover{
    background-color:  #897a9f !important;
    opacity: 0.7;
}

.serviceHeadSmall{
    font-family: 'Lora', serif;
    text-transform: capitalize;
     color: #ffffff;
    letter-spacing: 1px;
    font-size: 19px;
    text-transform: uppercase;
}
.clrIcon{
    color:  #ffffff;
    font-size: 48px;
    font-weight: bold;
}
.serviceHead{
    font-family: 'Lora', serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}
.greyBack{
    background-color:  #f2f2f2;
    padding: 100px 0px;
}
.smallHeadingGrey{
    color: 	 #595959;
}
.extraPadding{
    margin: 20px 0px;
}
.subHeading{
   font-family: 'Lora', serif;
    color: #897a9f;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
.subHeading:hover{
    text-decoration: none;
    color: #897a9f;
}

.sideImg{
    height: 500px !important;
    width: 100%;
    border-radius: 10px;
}
.smallCnt{
    margin-top: -75px;
    margin-left: 35px;
}
.appButton2{
    background-color: #897a9f;
    padding: 23px 24px;
    font-size: 19px;
}
.greyBackColor{
    background-color: #d8d3df;
}
.subHeadingB{
    color: #635676;
    font-size: 17px;
    letter-spacing: 1px;
}
.img1{
   width: 100%;
    height: 240px;
}
.whiteBox{
    margin-top: 20px;
    background-color: #ffffff;
    padding: 16px;
}
.serviceHeadSmallBlack{
    color: #000000;
}
.middleIcon{
    margin-top: 15px;
    font-size: 42px;
    font-weight: 600;
}
.smallBlackBox:hover{
   background-color: #000000;
    cursor: pointer;
}
.smallBlackBox:hover .middleIcon{
    color: #ffffff;
}
.smallBlackBox1{
    background-color: #000000;
    cursor: pointer; 
     color: #ffffff;
}
.mainButton{
     font-family: 'Lora', serif;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     padding: 15px 17px;
     background-color: #897a9f;
     margin-top: 10px;
     border-radius: 30px;
     letter-spacing: 1px;
     font-size: 18px;
}
.mainButton:hover{
    background-color: transparent;
    border: 2px solid #897a9f;
    color: #000000;
    text-decoration: none;
}
.greyBackColor2{
    padding: 40px;
}
.serviceHeadSmall1{
    text-transform: capitalize;
}
.topBorder{
    border-top: 1px solid #897a9f;
    padding: 20px 0px;
}
.circle1{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    text-align: center;
    background-color: #1a1a1a;
    padding: 25px 10px;
}
.circle1:hover{
    background-color:  #897a9f; 
}
.circle12{
    border: 2px solid  #897a9f;
    background-color: transparent;
    padding:19px 10px;
}
.circle12 .clrIcon{
   color: #897a9f; 
}
.circle12:hover .clrIcon{
   color: #ffffff; 
}
.circle12:hover{
    background-color: #897a9f;
     border: 2px solid  #000000;
}
.marginLeft{
    padding-left: 4px;
}
.whiteBox1{
    margin-top: 0px;
}
.whiteShadow{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 20px;
    margin-top: -40px;
    border-bottom: 2px solid  #897a9f;
}
.mainButtonPadding{
    border-radius: 0px;
}
.extraP{
    padding: 30px 0px;
}
.greyBackColor3{
    padding-bottom: 150px;
}
.text{
    margin-top: 20px;
}
.backimg2{
  background-image: url(../images/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}
.backWhite{
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.displayBlock{
    display: block;
    text-align: center;
}
.greyBack4{
    padding: 60px 0px;
}
.im2{
    width: 90% !important;
    height: 80px !important;
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {
   .serviceHeadSmall{
        font-size: 12px !important;
    } 
    .smallHeading{
        font-size: 12px !important;
    }
    .serviceHead{
        font-size: 17px !important;
    }
    .mainButton{
        font-size: 14px !important; 
        padding: 11px 10px;
    }
    .subHeadingB{
        font-size: 12px;
    }
    .subHeading{
        font-size: 11px;
    }
}


/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 
    .carousel-caption{
        display: none;
    }
    .carousel-inner img{
        height: auto;
    }
    .serviceHeadSmall{
        font-size: 16px;
    }
    .sideImg{
        height: 370px !important;
    }
    .serviceHead {
         font-size: 23px;
    }
    .backimg2{
        height: 250px !important;
    }
    .im2{
        height: auto !important;
    }
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
  .carousel-caption{
     bottom: 64px;
    }
    .bigHeading{
        font-size: 28px;
    }
    .smallHeading{
       font-size: 14px;  
    }
    .logo1{
       padding: 15px 233px;
    }
    
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 
    .navLink{
      padding: 0px 10px;     
    } 
    .extraPadding{
        margin: 60px 0px;
    }
    .img1{
        height: auto;
    }
    .backimg2{
        height: 430px;
    }
   
}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
.navLink{
    padding: 0px 7px;     
  }
   .carousel-caption{
     bottom: 45px;
    }
     .bigHeading{
        font-size: 38px;
    }
    .smallHeading{
       font-size: 15px;  
    }
    .serviceHeadSmall{
        font-size: 15px;
    }
    .subHeading{
        font-size: 12px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
.navLink{
    padding: 0px 14px;     
  }
  .carousel-caption{
     bottom: 100px;
    }
    .bigHeading{
        font-size: 42px;
    }
    .smallHeading{
       font-size: 15px !important;  
    }
    .serviceHeadSmall{
        font-size: 19px;
    }
    .subHeading{
        font-size: 13px;
    }     
}

